<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Codenames</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css">

    <!-- endbuild -->
<!--     <script src="https://use.fontawesome.com/38065ec122.js"></script> -->
  </head>
  <body ng-app="codenamesApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-controller="MainCtrl" ng-cloak>
        <md-content class="no-overflow">
            <md-toolbar>
                <div class="md-toolbar-tools">

                    <h2>
                      <span>Codenames</span>
                    </h2>
                    <span flex></span>
                    <md-button aria-label="Create Game" class="md-icon-button">
                        <md-tooltip>
                            Create Game
                        </md-tooltip>
                        <md-icon md-svg-src="images/ic_group_white_24px.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="Join Game" class="md-icon-button">
                        <md-tooltip>
                            Join Game
                        </md-tooltip>
                        <md-icon md-svg-src="images/ic_group_add_white_24px.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="Get New Words" class="md-icon-button">
                        <md-tooltip>
                            Get New Words
                        </md-tooltip>
                        <md-icon md-svg-src="images/ic_view_comfy_white_24px.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="Shuffle Words" class="md-icon-button" ng-click="shuffleWords(wordList)">
                        <md-tooltip>
                            Shuffle Words
                        </md-tooltip>
                        <md-icon md-svg-src="images/ic_shuffle_white_24px.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="Camera" class="md-icon-button">
                        <md-tooltip>
                            Camera
                        </md-tooltip>
                        <md-icon md-svg-src="images/ic_camera_alt_white_24px.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="Game Information" class="md-icon-button">
                        <md-tooltip>
                            Game Information
                        </md-tooltip>
                        <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-tabs md-dynamic-height class="md-accent" md-selected="data.selectedIndex" md-align-tabs="bottom">
                <md-tab id="wordBoard" md-active="true">
                    <md-tab-label>Words</md-tab-label>
                    <md-tab-body>
                        <div layout="row" layout-wrap>
                          <div ng-repeat="word in wordList" flex="20" class="am-flip-x">
                            <md-card md-theme-watch class="word-card" ng-class="word.team">
                        
                                <md-card-content layout="row" layout-align="center center">
                                  <span flex class="md-headline">{{word.value}}</span>                
                                </md-card-content>
                              <md-card-actions layout="row" layout-align="center end">
                                <md-button flex="35" class="md-raised custom-btn red-team" aria-label="red-team"
                                            ng-click="setTeam('red-team', word)"></md-button>
                                <md-button flex="35" class="md-raised custom-btn blue-team" aria-label="blue-team"
                                            ng-click="setTeam('blue-team', word)"></md-button>
                                <md-button flex="15" class="md-raised custom-btn neutral-team" aria-label="neutral-team"
                                            ng-click="setTeam('neutral-team', word)"></md-button>
                                <md-button flex class="md-raised custom-btn black-team" aria-label="black-team"
                                            ng-click="setTeam('black-team', word)"></md-button>
                              </md-card-actions>
                            </md-card>
                          </div>
                        </div>                    
                    </md-tab-body>
                </md-tab>
                <md-tab id="keyBoard">
                    <md-tab-label>Map</md-tab-label>
                    <md-tab-body>
                        <div layout="row" layout-wrap>
                          <div ng-repeat="color in colorMap.map track by $index" flex="20" class="am-flip-x">
                            <md-card md-theme-watch class="word-card" ng-class="colourKey[color]">
                        
                                <md-card-content layout="row" layout-align="center center">
                                </md-card-content>
                            </md-card>
                          </div>
                        </div> 
                    </md-tab-body>
                </md-tab>
            </md-tabs>
      </md-content>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<!--      <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script> -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->

    <!--REMOVE-SCRIPTS-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>    
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/qrcode/lib/qrcode.js"></script>
    <script src="bower_components/angular-qr/angular-qr.min.js"></script>

    <script src="bower_components/chance/chance.js"></script>

    <script type="text/javascript" src="/scripts/dependencies/sails.io.js"
            autoConnect="true">
    </script>
    <!--REMOVE-SCRIPTS END-->

    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        
        <script src="scripts/services/wordservice.js"></script>
        <script src="scripts/services/gameservice.js"></script>

        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
